@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto&display=swap');

:root {
  --dark-green: #2f3f43;
  --greige: #6E7072;
  --neutral-light-grey: #E7EAF2;
  --ny-logo-blue: #0075B6;
  --ny-logo-teal: #41B1D6;
  --ny-light-teal: #b3e0ee;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Kalam', cursive;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: grid;
  grid-template-areas: 
    "nav nav"
    "section aside"
    "footer footer";
  ;
  grid-template-rows: 70px 1fr 50px;
  grid-template-columns: 1fr 400px;
}

/* basic grid elements and nav elements */

nav {
  background-color: var(--dark-green);
  color: var(--neutral-light-grey);
  box-shadow: 0 7px 10px var(--dark-green);
  grid-area: nav;
  z-index: 1;
  display: flex;
}

section {
  background-color: var(--neutral-light-grey);
  grid-area: section;
}

aside {
  background-color: var(--ny-logo-blue);
  grid-area: aside;
}

footer {
  background-color: var(--ny-logo-teal);
  grid-area: footer;
}

.logo {
  height: 180%;
  border-radius: 7px;
  margin: 10px;
  box-shadow: 0 7px 6px var(--dark-green);
  cursor: pointer;
}

nav ul {
  list-style: none;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navlink a {
  text-decoration: none;
  color: var(--neutral-light-grey);
  font-size: 22px;
}

.navlink a:hover {
  color: #ace7fa;
}

.navlink a:visited {
  color: var(--ny-logo-teal);
}

li input {
  color: var(--neutral-light-grey);
  background-color: var(--greige);
  width: 175px;
  border-radius: 8px;
  border: none;
  height: 40px;
}

input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: right; 
  margin-right: 4px;
  color: var(--neutral-light-grey);
  font-size: 20px;
  opacity: 1; /* Firefox */
}

#icon-container {
  position: relative;
}

#icon-container span {
  position: absolute;
  left: 3%;
  top: 18%;
}


:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--neutral-light-grey);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--neutral-light-grey);
}

/* main content */

header {
  position: relative;
  margin-top: 10%;
}

header img, #homepage-img {
  margin-top: 40px;
  width: 100%;
}

#homepage-img {
  filter: saturate(25%);
}

.buffalo-img {
  height: 55%;
}

#albany {
  color: var(--neutral-light-grey);
}

header h1 {
  position: absolute;
  top: 3%;
  left: 10%;
  z-index: 1;
  font-family: 'Kalam', cursive;
  font-size: 35px;
}

/* Explore section in main content */

.show-options {
  border: 1px dotted var(--dark-green);
  border-radius: 3px;
  width: 85%;
  margin: 0 auto;
  background-color: var(--ny-light-teal);
}

.options {
  margin-top: 0;
  display: none;
  list-style-type: none;
}

.explore a {
  text-decoration: none;
}

.show-options h3 {
  margin-bottom: 0;
}


.show-options, .options a {
  font-size: 18px;
  padding: 3px 7px;
  color: var(--dark-green);
}

.explore:hover a {
  color: var(--neutral-light-grey);
}

.explore:hover {
  background-color: var(--greige);
}

.show-options:hover .options {
  display: block;
}

/* aside content */

aside {
  padding: 20px;
  overflow: scroll;
}

aside ul {
  line-height: 2.5;
}

aside p {
  text-align: center;
}

table, th, td {
  border: 1px dotted #000;
  font-size: 18px;
  padding: 4px;
}

thead {
  color: var(--neutral-light-grey);
  background-color: var(--dark-green);
}

td {
  color: var(--dark-green);
}




/* footer */

footer {
  /* text-align: center; */
  position: relative;
}

footer p {
  position: absolute;
  top: 10%;
  left: 0;
  font-size: 13px;
  margin: 0;
}

footer span {
  margin-top: 5px;
  float: right;
}

