@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto&display=swap');

:root {
  --dark-green: #2f3f43;
  --greige: #6E7072;
  --neutral-light-grey: #E7EAF2;
  --ny-logo-blue: #005E92;
  --ny-logo-teal: #41B1D6;
  --ny-light-teal: #9ce2f7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Kalam', cursive;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: grid;
  grid-template-areas: 
    "nav nav"
    "section aside"
    "footer footer";
  ;
  grid-template-rows: 70px 1fr 50px;
  grid-template-columns: 1fr 400px;
}

/* basic grid elements and nav elements */

nav {
  background-color: var(--dark-green);
  color: var(--neutral-light-grey);
  box-shadow: 0 7px 10px var(--dark-green);
  grid-area: nav;
  z-index: 1;
  display: flex;
}

section {
  background-color: var(--neutral-light-grey);
  grid-area: section;
  overflow: scroll;
}

aside {
  background-color: var(--ny-logo-blue);
  color: var(--neutral-light-grey);
  grid-area: aside;
  overflow: scroll;
}

footer {
  background-color: var(--ny-light-teal);
  grid-area: footer;
}

#logo {
  height: 180%;
  border-radius: 7px;
  margin: 10px;
  box-shadow: 0 7px 6px var(--dark-green);
  cursor: pointer;
}

nav ul {
  list-style: none;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navlink a {
  text-decoration: none;
  color: var(--neutral-light-grey);
  font-size: 22px;
}

.navlink:hover {
  transform: scale(1.1);
}

.navlink:hover a {
  color: #ace7fa;
  
}


li input {
  color: var(--neutral-light-grey);
  background-color: var(--greige);
  width: 175px;
  border-radius: 8px;
  border: none;
  height: 40px;
}

input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: right; 
  margin-right: 4px;
  color: var(--neutral-light-grey);
  font-size: 20px;
  opacity: 1; /* Firefox */
}

#icon-container {
  position: relative;
}

/* contains magnifying glass in nav input */
#icon-container span {
  position: absolute;
  left: 3%;
  top: 18%;
}


:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--neutral-light-grey);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--neutral-light-grey);
}

/* main content */

header {
  position: relative;
  margin-top: 10%;
}

header img, #homepage-img {
  margin-top: 40px;
  width: 100%;
}

#homepage-img {
  filter: saturate(25%);
}

#buffalo-img {
  height: 55%;
}

#albany {
  color: var(--neutral-light-grey);
}

header h1 {
  position: absolute;
  top: 3%;
  left: 10%;
  z-index: 1;
  font-family: 'Kalam', cursive;
  font-size: 35px;
}


/* form content inside of main content */

#form-container > div {
  text-align: center;
  margin: 15px 0;
}

#form-container ol {
  text-align: left;
  border: 1px dotted var(--dark-green);
}

#form-container ol li {
  margin: 10px 0;
}

form, .show-options {
  width: 85%;
  margin: 15px auto;
  border-radius: 3px;
}

form, input[type="submit"] {
  font-size: 17px;
}

form {
  background-color: var(--greige);
  padding: 5px;
  line-height: 1.5;
  display: none;
}

form label {
  color: var(--neutral-light-grey);
}

form input, textarea {
  width: 100%;
}

input[type="submit"] {
  height: 30px;
  border-radius: 3px;
  background-color: var(--ny-logo-blue);
  color: var(--neutral-light-grey);
  border: 1px solid black;
  box-shadow: 1px 2px 5px #000;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--neutral-light-grey);
  color: var(--ny-logo-blue);
}

input[type="submit"]:active {
  transform: scale(0.95);
}

/* Explore section in main content */

.show-options {
  border: 1px dotted var(--dark-green);  
  background-color: var(--ny-light-teal);
}

.options {
  margin-top: 0;
  display: none;
  list-style-type: none;
}

.explore a {
  text-decoration: none;
}

.show-options button {
  margin: 0;
  height: 40px;
  background-color: var(--ny-light-teal);
  color: var(--dark-green);
  font-size: 16px;
  border: 1px dotted var(--dark-green);
  border-radius: 4px;
}


.show-options, .options a {
  font-size: 18px;
  padding: 3px 7px;
  color: var(--dark-green);
}

.explore:hover a {
  color: var(--neutral-light-grey);
}

.explore:hover {
  background-color: var(--greige);
}

.show-options:hover .options, .no-touch .options {
  display: block;
}


/* aside content */

aside {
  padding: 20px;
  font-size: 18px;
}

aside ul {
  line-height: 2.5;
}

aside p {
  text-align: center;
}

aside a {
  color: var(--ny-light-teal);
}

table, th, td {
  border: 1px dotted #000;
  padding: 4px;
}

thead {
  color: var(--neutral-light-grey);
  background-color: var(--dark-green);
}


/* footer */

footer {
  /* text-align: center; */
  position: relative;
  color: var(--dark-green);
}

footer p {
  position: absolute;
  top: 10%;
  left: 0;
  font-size: 13px;
  margin: 0;
}

footer span {
  margin-top: 5px;
  float: right;
}

/* media queries on images and grid sections */

@media screen and (min-width: 1035px) {
  body {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 800px) {
  body {
    grid-template-areas: 
    "nav nav"
    "section section"
    "aside aside"
    "footer footer";
  ;
  grid-template-rows: 70px 1fr 200px 50px;
  }

  aside header {
    margin-top: 0;
    font-size: 12px;
  }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #buffalo-img {
    width: 500px;
    margin: 0 auto;
  }

  #buffalo-title {
    left: 40%;
    margin-top: 0;
  }

  aside li, aside p, .navlink a, .navlink input::placeholder {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  #logo {
    height: 75px;
  }

  header h1 {
    font-size: 24px;
    top: 7%;
    left: 15%;
  }
  nav ul {
    justify-content: space-around;
    padding-left: 0;
  }

  nav ul input {
    width: 75%;
  }

  #buffalo-img {
    width: 370px;
  }

  figure {
    margin: auto 0;
  }
}

